@media only screen and (max-width: 500px) {

    /* HEADER */
    
    header {
        padding: 20px 40px;
        max-width: 500px;
    }

    .nav_links {
        flex-grow: 0;
        justify-content: unset;
        align-items: unset;
    }

    /* Mobile NavBar */

    .dktl {
        display: none !important;
    }

    #mnb-hamburger {
        display: flex;
        font-size: 30px !important;
    }

    #mnb-hamburger-btn {
        font-size: 30px !important;
    }

    .mnb_links {
        display: block;
    }


    .mainpageheader, .aboutpageheader, .privacypageheader, .imprintpageheader, .innovativepageheader, .workspageheader {
        padding: 80px 50px !important;
    }

    .corperate-news-page-header {
        padding: 80px 0px !important;
    }

    /* [top, right, bottom, left] */
    .corperate-news-header-card {
        margin-left: 10px;
        padding: 30px 0 70px 30px;
        width: 95%;
    }

    /* KEK */

    .s-head {
        font-size: 28px;
    }
    
    .s-head_small {
        font-size: 24px;
    }
    
    .default-txt {
        color: rgb(20, 20, 20);
        font-family: "Maison-Neue";
    }
    
    .para {
        margin-top: 30px;
        line-height: 1.6;
        font-size: 16px;
    }

    .desktop-only-flex {
        display: block !important;
    }

    /* PAGE */

    .mphcard-btn {
        font-size: 14px;
    }

    .container {
        margin: 50px 30px !important;
    }

    .cnphhead {
        font-size: 40px;
    }

    /* CARD */

    .a-card {
        padding: 30px 25px 50px 30px;
        margin: 20px 0 0 0;
    }

    /* SLIDER */

    .slider-items img {
        margin: 0 15px;
    }

    .prtner-logo {
        height: 30px;
    }

    /* FOOTER */

    footer {
        padding-top: 50px;
    }

    .footer-sections {
        display: block !important;
        padding: 0 !important;
    }

    .footersection {
        margin: 20px 0px 30px 0px;
    }

    .footer-logo {
        height: 25px;
        display: block !important;
        margin: 0px auto 50px auto !important;
        text-align: center !important;
    }

    /* VIDEO SLIDER */

    .video-slider {
        margin-right: 30px;
    }

    .workshref {
        height: 150px;
    }

    .workshref:hover {
        height: 160px;
    }
}